/* Write your CSS here */

.list-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 8px;
  border: 2px;
  border-color: #b5b7c4;
  border-color: #171f46;
  border-width: 2px;
}
.btn {
  outline: none;
  border: 0px;
  background-color: transparent;
}
.star {
  margin: 8px;
  margin-top: 15px;
}
.item-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.star {
  height: 20px;
  width: 20px;
}
.date {
  font-family: 'Roboto';
  color: #b5b7c4;
  font-size: 16px;
  font-weight: bold;
}
.appointment {
  font-family: 'Roboto';
  margin-top: 10px;
  margin-bottom: 4px;
  color: #171f46;
  font-size: 21px;
  font-weight: bold;
}
